/*Section deals with contact styling*/
.about {
    background: url("../imgs/backgrounds/contactBackground.jpg") no-repeat center center fixed;
    height: 90%;
    position: absolute;
    margin-top: 10vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
}

.aboutContent {
    background-color: rgb(230, 230, 230);
    width: 60%;
    height: 100%;
    margin: 0 20%;
}

.aboutTitle {
    font-size: 30px;
    margin-left: 5%;
    padding-top: 2%;
    color: rgb(78, 78, 78)
}

.aboutMsg {
    text-indent: 5%;
    margin: 2.5%;
}

.contactMsg {
    margin-left: 5%;
    
}

.line {
    width: 30%;
    position: relative;
    right: 350px;
}




/*Section deals with shop styling*/
.shop {
    display: flex;
    flex-direction: row;
    background-color: rgb(230, 230, 230);
    margin: 0 5%;
    width: 90%;
    position: absolute;
    margin-top: 9.5vh;
}

.filter {
    width: 20%;
    height: auto;
}

.filterTable {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10% 20%;
}

.filterOption {
    border: none;
    margin: 20px auto;
    padding: 0 5px;
    display: inline-block;
    position: relative;
    width: auto;
    height: 25px;
    cursor: pointer;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    transition: all 0.2s linear;
}

.filterOption:after {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(100, 100, 100);
    content: "";
    transform: scaleX(0);
    width: 100%;
    height: 3px;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
    top: 22px;
}

.filterOption:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.filterOption:hover {
    background-color: rgba(100, 100, 100, 0.4);
}

.products {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.productCard {
    box-shadow: 5px 5px 5px grey;
    width: 340px;
    height: 340px;
    margin: 2.5% 2.5%;
    background-color: white;
    transition: box-shadow 0.15s linear;
    z-index: 10;
}

.productCard:hover {
    box-shadow: 10px 10px 10px grey;
    text-decoration: underline;
}

.productImg {
    position: relative;
    top: 0; left: 0; right: 0;
    height: 90%;
    width: auto;
    margin-left: 17px;
}

.productDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 5%;
    background-color: white;
    height: 9.3%;
    text-align: center;
    background-color: rgb(175, 196, 240);
}

.productTitle {
    font-size: 20px;
}

.price {
    font-weight: 300;
}




/*Styling for the shopping cart*/
.hiddenCart {
    position: fixed;
    right: 0px;
    bottom: 0px;
    top: 10vh;
    margin: 0;
    width: 0%;
    height: 90vh;
    text-align: center;
    z-index: 30;
    transition: all 0.5s linear;
}

.displayCart {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 9.5vh;
    margin: 0;
    width: 33%;
    height: 90.5vh;
    text-align: center;
    z-index: 20;
    transition: all 0.5s linear;
    background-color: rgb(230, 230, 230);
}

.cartTitle {
    padding: 10% 0;
    font-size: 30px;
    color: rgb(100, 100, 100);
}

.cartBtn {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0px;
    top: 0;
    bottom: 0;
    padding: none;
    margin: auto 0;
    border: 1px solid lightgrey;
    background: url("../imgs/backgrounds/cart.png");
    background-color: rgb(50, 50, 50);
    background-size: 100%;
    cursor: pointer;
    transition: all 0.5s linear;
    z-index: 30;
}

.cartBtnShowing {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 100%;
    top: 0;
    bottom: 0;
    padding: none;
    margin: auto 0;
    border: 1px solid lightgrey;
    background: url("../imgs/backgrounds/cart.png");
    background-color: rgb(50, 50, 50);
    background-size: 100%;
    cursor: pointer;
    transition: all 0.5s linear;
    z-index: 30;
}

.cartDetails {
    height: 100%;
    width: 100%;
    background-color: rgb(230, 230, 230);
}

.cartGreyscreenHidden {
    width: 0%;
    height: 100%;
    z-index: 10;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.5s linear;
}

.cartGreyscreenShowing {
    width: 67%;
    height: 100%;
    z-index: 10;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.5s linear;
}

.detailHolder {
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    justify-content: space-between;
}

.details {
    text-align: center;
    margin-right: 10%;
    width: 80%
}

.cartLine {
    width: 80%;
    position: relative;
}

.cartImg {
    width: 125px;
    height: 125px;

}




/*Styling for Item page */
.displayPage {
    display: block;
}

.itemPage {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 66%;
    width: 66%;
    background-color: rgb(230, 230, 230);
    z-index: 20;
    border: 10px solid rgb(175, 196, 240);
}

.greyscreen {
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
}

.itemImg {
    position: absolute;
    height: 90%;
    width: auto;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-left: 5%;
    border: 5px solid lightgrey;
}

.itemDetails {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 30px;
    padding: 50px 0;
    margin: auto;
    margin-right: 5%;
    text-align: center;
    width: 38%;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(175, 196, 240, 0.4);
    box-shadow: 3px 3px 3px darkgrey;
}

.itemTitle {
    font-size: 35px;
    color: rgb(78, 78, 78);
}

.itemPrice {
    font-weight: 300;
    font-size: 25px;
    color: rgb(78, 78, 78)
}

.checkoutBtn {
    color: rgb(78, 78, 78);
    font-size: 20px;
    height: 66px;
    width: 200px;
    margin: 0 auto;
    border: none;
    background-color: rgb(175, 196, 240);
    box-shadow: 3px 3px 3px darkgrey;
    cursor: pointer;
}

.checkoutBtn:hover {
    box-shadow: 5px 5px 5px grey;
}

.amount {
    width: 30px;
    height: 25px;
    text-align: center;
    margin: 15px 0;
    font-size: 15px;
}

.amount::-webkit-outer-spin-button,
.amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.valueChanger {
    border: none;
    background-color: rgba(100, 100, 100, 0.3);
    cursor: pointer;
    margin: 0 5px;
    font-size: 20px;
}

.valueChanger:hover {
    background-color: rgba(100, 100, 100, 0.7);
    outline: 1px solid darkgrey;
}




/*Section deals with homepage styling*/
.home {
    background: url("../imgs/backgrounds/homeBackground.jpeg") no-repeat center center fixed;
    height: 90%;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
    position: absolute;
    margin-top: 10vh;
}

.welcomeMsg {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 600px;
    height: 300px;
    position: absolute;
    left: 200px; top: 300px;
    font-size: 28px;
    text-align: center;
}

.homeShopBtn {
    background-color: rgb(175, 196, 240);
    font-size: 20px;
    color: rgb(78, 78, 78);
    height: 50px;
    width: 100px;
    border: none;
    box-shadow: 5px 5px 5px grey;
    cursor: pointer;
    transition: all 0.15s linear;
}

.homeShopBtn:hover {
    font-size: 25px;
    box-shadow: 5px 5px 5px black;
}




/*Styling for the navbar*/
.logo {
    font-size: 30px;
    color: rgb(100, 100, 100);
    transition: all 0.15s linear;
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    text-align: center;
    margin: 30px 0;
}

.logo:hover {
    color:rgb(78, 78, 78);
    background-color: rgba(100, 100, 100, 0.4);
}

.title {
    width: 75%;
}

.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    margin: auto;
}

.nav-link {
    cursor: pointer;
    transition: 0.15s linear;
    height: 30px;
    width: 100px;   
    text-align: center;
    padding-top: 5px;
    color: rgb(100, 100, 100);
    border-radius: 10px;
}

.nav-link:hover {
    background-color: rgba(100, 100, 100, 0.4);
    color:rgb(78, 78, 78);
}




/*Section deals with element tags*/
nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(175, 196, 240);
    padding: 0 3%;
    height: 10%;
    width: 94%;
    margin: 0;
    position: fixed;
    z-index: 40;
}

h1 {
    margin: 0;
}

img {
    width: 300px;
    height: 300px;
}

h2 {
    margin: 0;
    
}

h3 {
    margin: auto 0;
}

